.header{
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    color: blue;
}
.sub-header
{
    font-weight: bold;
    font-size: large;
    line-height: 2;
}
.padding{
    padding-left: 30px;
}
.items{
    font-size:medium;
    text-align: justify;
    line-height: 1.8;
}
.times-font
{
    font-family: 'Times New Roman', Times, serif;
    height: 2000px;
}
.no-warp{
    white-space: nowrap;
}
.breakAll {
    word-break:break-all;
    hyphens: auto;
    
    
  }
